<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>
    <httpPlatform processPath="%AZURE_APP_PACKAGE_PYTHON%\python.exe"
                arguments="-m flask run --host=0.0.0.0 --port=%HTTP_PLATFORM_PORT%"
                stdoutLogEnabled="true"
                startupTimeLimit="60">
    </httpPlatform>
  </system.webServer>
</configuration>